<form>
    <div class="mb-3">
      <label class="form-label">Identificación</label>
      <input type="text" class="form-control" name="identificacion" [(ngModel)] = "user.identificacion">
    </div>
    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" name="nombre" [(ngModel)] = "user.nombre">
    </div>
    <div class="mb-3">
        <label class="form-label">Apellido</label>
        <input type="text" class="form-control" name="apellido" [(ngModel)] = "user.apellido">
    </div>
    <div class="mb-3">
        <label class="form-label">Edad</label>
        <input type="number" class="form-control" name="edad" [(ngModel)] = "user.edad">
    </div>
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary" (click)="guardar()">Guardar</button>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary" (click)="consultar()">Consultar</button>
        </div>
    </div>
</form>
